<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" id="menuItemHeader">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuItems" arial-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand" href="">
                    Calculator Project
                </a>
			</div>

			<!--<div class="collapse navbar-collapse" id="menuItems">
				<div class="nav navbar-nav navbar-right">
				</div>
			</div>-->
		</div>
	</nav>